<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      {{ 'common.text1' | i18n }}
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p>
    <p>
      {{ 'common.text2' | i18n }}<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']" />
    </p>
  </div>

  <div class="row">
    <h1>{{ 'demo.localization' | i18n }}</h1>
    <p>{{ 'demo.defination' | i18n }}</p>
    <br/>
    <h1>{{ 'demo.localization-support' | i18n }}</h1>
    <p>{{ 'demo.support-defination' | i18n }}</p>
  </div>
  <div id="footer" data-ng-controller="FootControl">
    <div class="container">
        <p
            class="text-muted pull-left"
            data-i18n="footer.copyrightString"
            data-curr-year="{{ currentYear }}"
            data-full-name="{{ fullName }}">
        </p>
        <div class="pull-right">
            <!-- Single button -->
            <div class="btn-group dropup">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <i ng-class="flagClass"></i>
                  <span>{{ langDisplayText }}</span>
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li data-ng-repeat="lang in supportedLang">
                      <a href="" ng-click="setLocale(lang)">
                          <i ng-class="localeData[lang].flagClass"></i>
                          <span>{{ localeData[lang].langDisplayText }}</span>
                      </a>
                  </li>
              </ul>
            </div>
        </div>
    </div>
</div>
</div>
